# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.env

# Visual Studio / C#
.vs/
app/.vs/
app/bin/
app/obj/
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
app/bld/
[Bb]in/
[Oo]bj/
[Ll]og/
app/packages/
*.nupkg
*.nuspec

# Tesseract files
app/tessdata/*
app/!tessdata/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

app/Properties/Resources.resx
app/Properties/Resources.Designer.cs
app/.docker/data/